<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    {% include navigation.html %}
    <div class="banner">
    
      <h1>Hamburg VISTA<br>Virtual Initiative for Science & Technology in AI</h1>
    </div>
    <div class="container">
    {{ content }}
    </div>
  </body>
</html>

